.Main-content-box{
    width: 90%;
    margin: auto;
}

.Title-wrapper{
    margin: auto;
    text-align: center;
}

.Content-wrapper{
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
}

table{
    margin-right: auto;
    margin-left: auto;
}